:root {
  --ifm-color-primary: #2a5aa5;
  --ifm-color-primary-dark: #264f92;
  --ifm-color-primary-darker: #244b89;
  --ifm-color-primary-darkest: #1d3e70;
  --ifm-color-primary-light: #2e65b8;
  --ifm-color-primary-lighter: #306ac1;
  --ifm-color-primary-lightest: #3a7ed6;
}
